<script>
  $(function(){
    $(".desc").hide();

    $("a").click(function(){
      $(".desc").toggle();
      var div = $(this).parent()
      var h2 = div.find("h2");
      var event_name = div.data("ename");

      h2.toggleClass("highlight");

      if ( h2.hasClass("highlight") ) {
        var d = div.data("edate");
        h2.text(event_name + d);
      } else {
        h2.text(event_name);
      }
    })
  })
</script>

<h1>Latest Event</h1>

<% @events.each do |event| %>
<div data-ename="<%= event.name %>" data-edate="<%= event.published_at.to_s(:short) %>">

  <h2><%= event.name %></h2>

  <p class="desc"><%= event.description %></p>
  <a href="#">Toggle</a>
</div>
<% end %>

